<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="pom.css">

</head>

<body>
    <%- include ('partials/navbar.ejs')%>
        <div class='container ' style='width:80%;'>
            <ul>
                <div class='jumbotron'>
                    <h1 style="margin-left: 15px;">Pronadji prijatelje</h1>
                    <hr class="my-4">
                    <nav class="navbar navbar-text navbar-light">
                            <button class="btn btn-dark" id="b1" type="button">Po username-u</button>
                            <button class="btn btn-dark" id="b2" type="button">Po email-u</button>
                            <button class="btn btn-dark" id="b3" type="button">Po imenu i prezimu</button>
                    </nav>
                </div>
                <div id="id1" class='row' style=' margin-left: 4px; width:100%;'>
                    <form method='post' action='/dodaj/username/<%=user.email%>'>
                        <h3>Unesite username korisnika:</h3>
                        <input type="text" class="form-control" name='username' placeholder="Username" autofocus/>
                        <button style='background-color:rgb(195,36,48); color: white;' type="submit" class="btn">Dodaj prijatelja</button>
                    </form>
                </div>

                <div id="id2" class='row' style=' margin-left: 4px; width:100%;'>
                    <form method='post' action='/dodaj/email/<%=user.email%>'>
                        <h3>Unesite email korisnika:</h3>
                        <input type="text" class="form-control" name='email' placeholder="Email" autofocus/>
                        <button style='background-color:rgb(195,36,48); color: white;' type="submit" class="btn">Dodaj prijatelja</button>
                    </form>
                </div>

                <div id="id3" class='row' style=' margin-left: 4px; width:100%;'>
                    <form method='get' action='/prikazi/imeprezime'>
                        <h3>Unesite ime i prezime korisnika:</h3>
                        <input type="text" class="form-control" name='ime' placeholder="Ime" autofocus/>
                        <input type="text" class="form-control" name='prezime' placeholder="Prezime" autofocus/>
                        <button style='background-color:rgb(195,36,48); color: white;' type="submit" class="btn">Prikazi</button>
                    </form>
                </div>

            </ul>
        </div>
    <script src="pom2.js"></script>
    <%- include ('partials/footer.ejs'); %>

</html>