<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>ReadIt</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="pom.css">
    </head>
    <body>
        <%- include("partials/navbar.ejs") %>
            <div class='container' style='width:50%;'>
                <form method="post" action="/">
                  <h1 class="h2 mb-3 font-weight-normal" style='margin-top:5%;'>Izaberite liniju</h1>

                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="povratna" id="exampleRadios1" value="NE" checked>
                    <label class="form-check-label" for="exampleRadios1">
                      Karta u jednom smeru
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="povratna" id="exampleRadios2" value="DA">
                    <label class="form-check-label" for="exampleRadios2">
                      Povratna karta
                    </label>
                  </div><br />
                  <div id="blabla">
                      <label  id="bla1">Polaziste:</label>
                      <input type="text" id="inputPolaziste" class="form-control" name='polaziste' required autofocus/>
                    </div>
                      <div id="blabla">
                      <label id="bla">Odrediste:</label>
                      <input type="text" id="inputOdrediste" class="form-control" name='odrediste'  required autofocus/>
                    </div>
                      <label>Datum polaska:</label>
                      <input type="date" id="inputDatum1" class="form-control" name='datum1' placeholder="Datum polaska" required autofocus/>
                      <div id="datum2">
                      <label>Datum povratka:</label>
                      <input type="date" id="inputDatum2" class="form-control" name='datum2' placeholder="Datum povratka" autofocus/>
                      </div>
                      <label>Broj putnika:</label>
                      <input type="number" id="inputBrojPutnika" class="form-control" name="brputnika" value="1" min="1" max="30" required autofocus/>

                        <label>Autoprevoznik:</label>
                        <input type="text" id="inputAutoprevoznik" class="form-control" name='prevoznik' autofocus/>
                    <br />
                      <button class="btn btn-lg btn-primary btn-block" type="submit">Pretrazi</button>
                      
                    </form>
                  </div>
                  <script src="pom.js"></script>
        <%- include("partials/footer.ejs") %>

        <script src="" async defer></script>
    </body>
</html>