<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>ReadIt</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="pom.css">
    </head>
    <body>
        <%- include("partials/navbar.ejs") %>
            <div class='container' style='width:50%;'>
                <form method="get" action="/search">
                  <h1 class="h2 mb-3 font-weight-normal" style='margin-top:5%;'>Pretraga knjiga:</h1>

                      <label>Naziv knjige:</label>
                      <input type="text" class="form-control" name='nazivknjige' autofocus/>
                      
                      <label>Izaberite zanr:</label>
                      <select class="form-control" aria-label="Default select example" name="zanr">
                      <option selected value="0">Bilo koji</option>
                      <%for (let i=0; i<zanrovi.records.length; i++) {%>
                          <option value="<%=zanrovi.records[i].get(0).properties.naziv%>"><%=zanrovi.records[i].get(0).properties.naziv%></option>
                      <%}%>
                      </select>
                      <label>Godina izdavanja:</label>
                      <input type="text" class="form-control" name='godina' autofocus/>

                      <label>Ocena veca ili jednaka od:</label>
                      <input type="number" class="form-control" name='ocena' value="0" min="0" max="10" autofocus/>
                      
                      <label>Ime pisca:</label>
                      <input type="text" class="form-control" name='imep' autofocus/>
                      
                      <label>Prezime pisca:</label>
                      <input type="text" class="form-control" name='prezimep' autofocus/>

                      <label>Drzava:</label>
                      <input type="text" class="form-control" name='drzava' autofocus/>
                    
                      <button class="btn btn-lg btn-primary btn-block" type="submit">Pretrazi</button>
                      
                    </form>
                  </div>
        <%- include("partials/footer.ejs") %>

        <script src="" async defer></script>
    </body>
</html>