#id0, #id1, #id2, #id3, #id4, #id5, #id6, #id7, #id8, #id9{
    display: none;
}

.a{
    list-style-type: circle;
}
.list-group-item.active{
    z-index: 0 !important;
    background-color: rgb(195, 36, 48) !important;
    border: none !important;}
    .form-control{
        margin-top: 0.5%;
        margin-bottom: 0.8%;
      }
      @media (min-width: 720px)
      {
        .container{
          max-width:920px;
        }
      }
      @media (min-width: 992px)
      {
        .container{
          max-width: 1160px;
        }
      } 
      @media (min-width: 1200px)
      {.container{
        max-width: 1300px;
      }}